.navbar{
list-style-type: none;
margin: 0;
padding: 0;
background-color: ##2e8ece;
overflow: hidden;
}

.navitem{
float: left;
}


.navitem a{
display:block;
color:white;
text-align: center;
text-decoration: none;
}